* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
}

body {
    background-color: rgb(55, 54, 54);
}

main {
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
}